.btn {
  border: 2px solid $lightText;
  font-weight: $paragraph;
  font-size: 10pt;
  box-shadow: none;
  padding:6px 20px;
  
  form-inline {
    color: white;
  }

  &.success {
    border: 2px solid $lightText;
    color:whitesmoke;
    background: $red1;
    &:hover {
      background: lighten($lightText, 5%);
      color: $red2;
    }
    &:active {
       background: darken($lightText, 10%);
       color: $red2;
    }
  }
  &.danger {
    color: $lightText;
    background: $red1;
    border: 2px solid $lightText;
    &:hover {
      background: lighten($danger, 5%);
    }
    &:active {
       background: darken($danger, 10%);
    }
  }
  &.default {
    color: whitesmoke;
    background: $red1;
    border: 2px solid $lightText;
    &:hover {
      background: darken($default, 5%);
    }
    &:active {
       background: darken($default, 25%);
    }
  }
}

