@mixin large {
  @media only screen and (min-width:1025px) and (max-width: 1920px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width:641px) and (max-width: 1024px) {
    @content;
  }
}

@mixin small {
  @media only screen and (min-width:0px) and  (max-width: 640px) {
    @content;
  }
}

@mixin gradient-linear(
  $color1, 
  $color2: $color1,
  $color3: $color1,
  $color4: $color1,
  $color5: $color1,
  $color6: $color1,
  $color7: $color1,
  $color8: $color1
  ) {
  background-color: $color1; /* Old browsers */
  background-image: -moz-linear-gradient(
    left,
    $color1 0%,
    $color2 12.5%,
    $color3 25%,
    $color4 37.5%,
    $color5 50%,
    $color6 62.5%,
    $color7 75%,
    $color8 87.5%,
    $color1 100%
  ); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(
    left,
    $color1 0%,
    $color2 12.5%,
    $color3 25%,
    $color4 37.5%,
    $color5 50%,
    $color6 62.5%,
    $color7 85.5%,
    $color8 87.5%,
    $color1 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(
    to right,
    $color1 0%,
    $color2 12.5%,
    $color3 25%,
    $color4 37.5%,
    $color5 50%,
    $color6 62.5%,
    $color7 75%,
    $color8 87.5%,
    $color1 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background-repeat: no-repeat;
  background-size: 2000% 400%;
  background-position: 0 0;
  

  animation-name: gradientAnim;
  animation-iteration-count: infinite;
  animation-delay: 0;
  animation-duration: 60s;
  animation-timing-function: linear;

}
