// VARIABLES 

$font: 'Roboto Slab', serif;
$heading: 700;
$paragraph: 400;
$danger: #a70000;
$success: #29930f;
$default: #499cb5;
$body: #ECECEC;

$bgSidebar: #e60000;
$bgNav: #1c7ed6;
$bgBody: #fff;

$lightText: whitesmoke;
$darkText: #f9f0f7;
