// VARIABLES 

$font: 'Roboto Slab', serif;
$heading: 700;
$paragraph: 400;
$danger: #a70000;
$success: #29930f;
$default: #499cb5;
$body: #ECECEC;

// color palette
$blue: #0054DE;
$yellow1: #FFCC01;
$yellow2: #FFB302;
$red1: #DE0112;
$red2: #F80904;

$bgSidebar: #e60000;
$bgNav: #1c7ed6;
$bgBody: #fff;

$lightText: whitesmoke;
$darkText: #f9f0f7;
